body {
    background: #05010d;
    font-family: Arial;
    color: white;
    text-align: center;
}

.contenedor {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.logo {
    width: 110px;
    filter: drop-shadow(0 0 8px cyan);
}

.titulo h2 {
    color: #00eaff;
    text-shadow: 0 0 10px cyan;
}

.titulo h3 {
    color: #b0fbff;
}

.buscador input {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
}

.buscador button {
    padding: 10px 20px;
    background: cyan;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.itemResultado {
    background: rgba(0,255,255,0.1);
    border: 1px solid cyan;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.resPlaca {
    font-size: 20px;
    font-weight: bold;
    color: cyan;
}

.btnVer {
    margin-top: 10px;
    padding: 6px 14px;
    border-radius: 8px;
    border: 1px solid cyan;
    background: transparent;
    color: cyan;
    cursor: pointer;
}

.detalleTitulo {
    margin-top: 40px;
    font-size: 24px;
    color: cyan;
}

.detalleCaja {
    text-align: left;
    margin: auto;
    max-width: 600px;
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border: 1px solid cyan;
    border-radius: 10px;
}
