/* PANEL DE RESULTADOS */
#resultadosLista {
    width: 90%;
    max-height: 280px;
    margin: 12px auto;
    background: rgba(0,0,0,0.80);
    border: 2px solid #00eaff;
    border-radius: 12px;
    padding: 10px;
    overflow-y: auto;
    color: #00f7ff;
    font-family: Consolas, monospace;
    display: none;
    box-shadow: 0 0 15px #00eaff;
}

/* LINEA DE RESULTADO */
.lineaRegistro {
    padding: 7px 10px;
    border-bottom: 1px solid #00eaff55;
    cursor: pointer;
    transition: 0.15s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lineaRegistro:hover {
    background: #00eaff22;
}

/* TITULO RESULTADOS */
#tituloResultados {
    text-align: center;
    color: #00f7ff;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}

/* TARJETA DETALLADA */
#detalleRegistro {
    width: 90%;
    margin: 10px auto;
    background: rgba(0,0,0,0.9);
    border: 2px solid #00ff99;
    border-radius: 12px;
    padding: 15px;
    color: #00ffcc;
    display: none;
    box-shadow: 0 0 20px #00ff99;
}

.detCampo {
    margin: 4px 0;
    font-size: 16px;
}

.detCampo b {
    color: #00ffcc;
}
