#resultadosLista {
    width: 90%;
    max-height: 280px;
    margin: 10px auto;
    background: rgba(0,0,0,0.80);
    border: 2px solid #00eaff;
    border-radius: 12px;
    padding: 10px;
    overflow-y: auto;
    color: #00f7ff;
    font-family: Consolas, monospace;
    display: none;
    box-shadow: 0 0 15px #00eaff;
}

.lineaRegistro {
    padding: 6px 8px;
    border-bottom: 1px solid #00eaff55;
    cursor: pointer;
    transition: 0.15s;
}

.lineaRegistro:hover {
    background: #00eaff22;
}

#tituloResultados {
    text-align: center;
    color: #00f7ff;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}
