body {
    background: #0a0015;
    font-family: Arial;
    color: white;
    text-align: center;
}

.contenedor {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.logo {
    width: 120px;
}

.estado {
    margin: 10px;
    color: #55ff99;
    font-weight: bold;
}

.buscadorBox {
    margin-top: 15px;
}

#busquedaInput {
    width: 65%;
    padding: 10px;
    border-radius: 6px;
}

#btnBuscar {
    padding: 10px 20px;
    background: cyan;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* PANEL LISTA COMPACTA */
#resultadosLista {
    width: 95%;
    max-height: 260px;
    margin: 20px auto;
    background: rgba(0,0,0,0.8);
    border: 2px solid cyan;
    border-radius: 12px;
    padding: 10px;
    overflow-y: auto;
    display: none;
    box-shadow: 0 0 15px cyan;
}

.lineaRegistro {
    padding: 7px;
    border-bottom: 1px solid #00eaff55;
    cursor: pointer;
    transition: 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lineaRegistro:hover {
    background: rgba(0,255,255,0.2);
}

/* DETALLE */
#detalleRegistro {
    width: 95%;
    margin: 20px auto;
    background: rgba(0,0,0,0.9);
    border: 2px solid #00ff99;
    border-radius: 12px;
    padding: 15px;
    display: none;
    text-align: left;
    box-shadow: 0 0 20px #00ff99;
}

.detCampo {
    margin: 4px 0;
    font-size: 16px;
}

.detCampo b {
    color: #00ffcc;
}

.footer {
    margin-top: 40px;
    font-size: 13px;
    color: cyan;
}
